.header {
  @include position(fixed, 0 null null null);
  @extend %row;
  height: em(60);
  background: #262728;
  z-index: 1000;
  @include media($desktop) {
    .container {
      max-width: em(1400);
      padding: 0 em(20);
      @include fill-parent;
    }
  }
}

.header_logo {
  padding-top: em(16);
  @include span-columns(2 of 4, inline-block);
  svg {
    max-width: 100%;
  }
  @include media($mobile-max) {
    img {
      margin-top: em(2);
      max-width: em(120);
    }
  }
}

.header_components {
  text-align: right;
  white-space: nowrap;
  @include span-columns(2 of 4, inline-block);
  @include omega();
}

.header_components_new,
.header_components_search,
.header_components_profile {
  display: inline-block;
  vertical-align: middle;
  margin: {
    left: em(15);
    top: em(14);
  }
}

.header_components_profile {
  position: relative;
  &.is-active {
    .dropdown {
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
  }
}

.header_components_profile_avatar {
  img {
    border-radius: 4px;
  }
  .caret {
    margin-top: em(-20);
  }
}

.header_components_new {
  margin-left: 0;
  path {
    fill: $primary;
  }
  svg {
    @include size(em(31) em(26));
  }
}

@include media($tablet) {

  .search_submit {
    top: em(5);
    right: em(5);
  }

  .header_logo {
    @include span-columns(2 of 8, inline-block);
  }

  .header_components {
    @include span-columns(6 of 8, inline-block);
    @include omega();
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .header_components_new {
    padding-top: em(4);
  }

  .header_components_search {
    margin: em(7) 0 0 em(20);
    max-width: em(200);
  }

  .header_components_profile {
    margin-left: em(20);
    cursor: pointer;
  }

}