.sass-cache
logs
*.log
pids
*.pid
*.seed
lib-cov
coverage
.grunt
build/Release
node_modules
.lock-wscript
bower_components
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.idea
app/assets/vendors
app/styles.css
app/assets/js/plugins.js
Gemfile.lock
app/assets/css/styles.css.map
public