.btn {
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  border: none;
  appearance: none;
  transition: all 0.3s ease;
  height: em(40);
  line-height: em(40);
  border-radius: em(4);
  padding: 0 em(25);
}

.btn-small {
  height: em(28);
  line-height: em(28);
  font-size: em(13);
}

.btn-primary {
  color: $white;
  background: $valid;
  font-family: $font-family-bold;
  font-weight: $font-weight-bold;
  &:hover,
  &:focus {
    color: $white;
    background: darken($valid, 5%);
  }
  &:active {
    background: darken($valid, 10%);
  }
}

.btn-secondary {
  color: $link-light;
  border: 1px solid $link-light;
  &:hover,
  &:focus {
    color: $primary;
    border: 1px solid $primary;
  }
}

.btn-fill {
  @include fill-parent;
}