.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1100;
  padding: em(10);
  max-width: em(575);
  width: 100%;
  transition: transform 0.2s ease;
  opacity: 0;
  transform: scale(0.7);
  &.is-open {
    opacity: 1;
    transform: scale(1);
  }
  @include media($tablet) {
    padding: 0;
  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0);
  transition: background 0.3s ease;
  &.is-open {
    background: rgba(#000, 0.8);
  }
}

.modal_wrapper {
  float: left;
  padding: em(15);
  border-radius: em(3);
  background: $lines;
  @include media($mobile-landscape) {
    padding: em(25) em(25) em(17);
  }
}

.modal_title {
  margin-bottom: em(18);
  color: $gray;
  font-size: em(17);
}

.modal_message {
  display: block;
  margin-bottom: em(16);
  padding: em(10);
  min-height: em(90);
  border: none;
  border-radius: em(4);
  line-height: 1em;
  @extend %row;
  &:focus {
    outline: none;
  }
  @include media($tablet) {
    min-height: em(60);
    font-size: em(24);
    line-height: 1;
  }
}

.modal_actions {
  @extend %row;
}

.modal_add {
  width: 100%;
  font-size: em(15);
  @include media($mobile-landscape) {
    @include span-columns(3 of 4, inline-block);
  }
  svg {
    display: inline-block;
    margin-right: em(10);
    @include size(em(19) em(13));
  }
  path {
    fill: rgba($gray, 0.5);
  }
  a {
    display: block;
    float: left;
    padding: em(5) em(10);
    color: rgba($gray, 0.5);
  }
}

.modal_add_photo,
.modal_add_video {
  display: inline-block;
  &:hover,
  &:focus {
    a {
      color: $gray;
    }
    path {
      fill: $gray;
    }
  }
}

.modal_add_photo {
  a {
    padding-left: 0;
  }
}

.modal_submit {
  @include fill-parent;
  margin-top: em(10);
  @include media($mobile-landscape) {
    margin-top: em(0);
    @include span-columns(1 of 4, inline-block);
    @include omega();
  }
  .btn {
    @include fill-parent;
    float: right;
    height: em(34);
    font-size: em(15);
    line-height: em(34);
    @include media($mobile-landscape) {
      width: auto;
    }
  }
}

.modal_close {
  @include size(em(21));
  @include position(absolute, em(-25) em(10) null null);
  path {
    transition: all 0.3s ease;
    fill: $gray;
  }
  &:hover,
  &:focus {
    path {
      fill: lighten($gray, 10%);
    }
  }
  @include media($tablet) {
    top: em(-25);
    right: em(-25);
  }
}

.main {
  transition: 0.5s filter ease;
}

.modal-open {
  filter: blur(#{em(10)});
}