.post-grid {
  max-width: em(1175);
  margin: 0 auto;
  display: block;
  padding: 0 em(15);
  .post_content_thumbnail {
    margin-bottom: em(-7);
    img {
      border-radius: 0 !important;
    }
  }
  .is-video {
    &:after {
      border-radius: 0;
      @include media($mobile-landscape) {
        height: 94%;
      }
    }
  }
}

.post__content_meta--grid {
  float: right;
  width: calc(100% - 57px);
  margin-bottom: em(-7);
  .post_content_meta_actions,
  .post_content_expand {
    width: 50%;
    display: inline-block;
  }
  .post_content_meta_actions {
    margin-top: em(19.6);
    float: right;
  }
}

.deckgrid[deckgrid]::before {
  content: '1 .column.column-1-1';
  font-size: 0;
  visibility: hidden;
}

.deckgrid .column {
  float: left;
}

.deckgrid .column-1-1 {
  width: 100%;
}

@include media($tablet) {
  .deckgrid[deckgrid]::before {
    content: '2 .column.column-1-2';
  }

  .deckgrid .column-1-2 {
    width: (100% /2);
    &:first-child {
      padding-right: em(12.5);
    }
    &:last-child {
      padding-left: em(12.5);
    }
  }
}

@include media($desktop) {
  .deckgrid[deckgrid]::before {
    content: '3 .column.column-1-3';
  }
  .deckgrid .column-1-3 {
    width: (100% /3);
    &:first-child {
      padding-right: em(12.5);
    }
    &:nth-child(2) {
      padding: 0 em(12.5);
    }
    &:last-child {
      padding-left: em(12.5);
    }
  }
}
