.post-filter {
  @extend %row;
  position: relative;
  margin-top: em(20);
  margin-bottom: 0 !important;
  @include media($mobile-landscape) {
    margin-top: em(50);
  }
  @include media($tablet) {
    margin-top: em(110);
  }
  @include media($desktop) {
    margin-top: em(110);
  }
}

.post-filter_list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-filter_list_item {
  display: inline-block;
  float: left;
  margin-right: em(15);
  a {
    float: left;
    margin-bottom: 0;
    padding: em(10) em(8) em(15);
    border-bottom: 4px solid transparent;
    color: #bec3cc;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: $font-weight-bold;
    font-size: em(10);
    font-family: $font-family-bold;
    &:hover,
    &:focus {
      color: $white;
    }
  }
  &.is-active {
    a {
      border-bottom: 4px solid $primary;
      color: $white;
    }
  }
  &:last-child {
    margin-right: 0;
  }

  @include media($mobile-landscape) {
    margin-right: em(30);
    a {
      padding: em(10) em(8) em(20);
      font-size: em(13);
    }
  }
  @include media($tablet) {
    margin-right: em(45);
  }
}

.post-filter_views {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
}

.post-filter_views-item {
  display: inline-block;
  margin-left: em(8);
  a {
    display: block;
    padding: em(4);
  }
  svg {
    @include size(em(9));
  }
  path {
    fill: $white;
  }
  &.is-active {
    path {
      fill: #747c83;
    }
  }
}