.search {
  display: block;
}

.search_form {
  position: relative;
}

.search_trigger {
  path {
    fill: $primary;
  }
  svg {
    @include size(em(20));
  }

  @include media($tablet) {
    display: none;
    svg {
      @include size(em(26));
    }
  }
}

.search_submit {
  position: absolute;
  top: 50%;
  right: em(14);
  border: none;
  background: none;
  transform: translateY(-50%);
  &:focus,
  &:hover {
    svg {
      opacity: 0.6;
    }
  }
  path {
    transition: fill 0.3s ease;
    fill: #44474b;
  }
  svg {
    @include size(em(16));
    display: block;
    &:hover,
    &:focus {
      path {
        fill: rgba($white, 0.4);
      }
    }
  }
  @include media($tablet) {
    right: em(5);
  }
}

input[type=search] {
  box-sizing: border-box;
}

.search_input {
  box-sizing: border-box;
  padding: em(5) em(40) em(5) em(10);
  width: 100%;
  border: 1px solid #44474b;
  border-radius: 4px;
  background: none;
  color: $white;
  transition: all 0.3s ease;
  &:focus {
    outline: none;
    border: 1px solid rgba($white, 0.4);
  }
  &.is-focus {
    + .search_submit {
      path {
        fill: rgba($white, 0.4);
      }
    }
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

@include media($mobile-landscape-max) {

  .search_form {
    position: absolute;
    top: -100%;
    left: 0;
    z-index: -1;
    display: block;
    padding: em(10);
    width: 100%;
    background: $black;
    opacity: 0;
    transform: translateY(-100%);
    &.is-active {
      top: em(60);
      opacity: 1;
      transform: translateY(0);
    }
  }

}

