.settings {
  padding-top: em(50);
  h1 {
    margin-bottom: 0;
  }
  section {
    @extend %row;
    margin-bottom: em(50);
    padding-bottom: em(50);
    border-bottom: 1px solid $lines;
  }
}

.settings_title {
  margin-bottom: em(25);
  color: $gray;
  text-transform: uppercase;
  letter-spacing: em(0.25);
  font-weight: $font-weight-semi;
  font-size: em(13);
  font-family: $font-family-semi;
}

.settings_account {
  margin-top: em(50);
}

.settings_account_avatar {
  margin: 0 auto em(20);
  width: em(85);
  .btn {
    margin-top: em(3);
  }
  img {
    border-radius: em(4);
  }
  @include media($mobile-landscape) {
    display: block;
    float: left;
    width: em(85);
  }
}

.settings_account_info {
  @include media($mobile-landscape) {
    display: block;
    float: left;
    padding-left: em(50);
    width: calc(100% - #{em(85)});
  }
}

.settings_account_info_row {
  position: relative;
  @extend %row;
  margin-bottom: em(20);
  input {
    padding-right: em(50);
  }
  &:last-child {
    margin-bottom: 0;
  }
  label {
    @extend %visuallyhidden;
  }
  svg {
    position: absolute;
    top: 50%;
    left: em(13);
    transform: translateY(-50%);
    @include size(em(16));
  }
  circle,
  path {
    transition: all 0.3s ease;
    fill: $link-light;
  }
  &.is-focus {
    circle,
    path {
      fill: $primary;
    }
  }
}

.settings_account_info_save {
  position: absolute;
  top: 50%;
  right: em(18);
  color: $primary;
  font-size: em(13);
  cursor: pointer;
  transform: translateY(-50%);
}

.settings_notifications,
.settings_privacy {
  .settings_title {
    margin-bottom: em(35);
  }
}

.settings_privacy_tags_item {
  &.is-first {
    margin-top: em(25);
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.settings_save {
  @extend %row;
  margin-bottom: em(25);
}