textarea {
  resize: none;
  word-wrap: break-word;
  transition: 0.3s;
  line-height: 1.2;
}

.input-primary,
input[type="text"],
input[type="email"],
input[type="password"] {
  border: 1px solid $lines;
  background: $white;
  border-radius: em(4);
  padding: em(13) em(14);
  width: 100%;
  transition: all 0.3s ease;
  @include placeholder() {
    color: $link-light;
  }
  &:focus {
    outline: none;
  }
}

input[type="password"] {
  color: #c5c7c9;
}

.input-secondary {
  border: 1px solid $link-light;
  &:focus {
    color: $primary;
    border: 1px solid $primary;
  }
}

.input-has-icon {
  padding-left: em(40) !important;
}