textarea {
  word-wrap: break-word;
  line-height: 1.2;
  resize: none;
  transition: 0.3s;
}

.input-primary,
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: em(13) em(14);
  width: 100%;
  border: 1px solid $lines;
  border-radius: em(4);
  background: $white;
  transition: all 0.3s ease;
  @include placeholder() {
    color: $link-light;
  }
  &:focus {
    outline: none;
  }
}

input[type="password"] {
  color: #c5c7c9;
}

.input-secondary {
  border: 1px solid $link-light;
  &:focus {
    border: 1px solid $primary;
    color: $primary;
  }
}

.input-has-icon {
  padding-left: em(40) !important;
}

label {
  color: $gray;
  cursor: pointer;
}

// Checkboxes & Radio Inputs
.radio:not(:checked),
.radio:checked {
  position: absolute;
  left: -9999px;
}

.radio:not(:checked) + label,
.radio:checked + label {
  position: relative;
  display: block;
  padding-left: em(50);
  cursor: pointer;
}

// Checkbox
.radio:not(:checked) + label:before,
.radio:checked + label:before {
  position: absolute;
  left:0;
  border: 1px solid $lines;
  @include size(em(23));
  border-radius: em(100);
  content: '';
}

// Active State
.radio:not(:checked) + label:after,
.radio:checked + label:after {
  position: absolute;
  top: em(5);
  left: em(5);
  display: block;
  @include size(em(15));
  background: $valid;
  border-radius: em(100);
  content: '';
  font-size: em(16);
  transition: all 0.3s ease;
}

.radio:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.radio:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.radio-group {
  margin-bottom: em(10);
}

.checkbox-group {
  margin-bottom: em(25);
}