<div class="masthead">
  <div class="container">
    <form class="new-post layout" ng-init="postForm = {}" role="form">
      <div class="new-post_input">
        <label for="post" class="visually-hidden">New Post</label>
        <textarea ng-model="postForm.new" class="new-post_textarea" rows="1" placeholder="What's on your mind?" id="post" name="post" msd-elastic></textarea>
      </div>
      <div class="new-post_add">
        <div class="new-post_add_photo">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 13" enable-background="new 0 0 18 13"><g fill="#231F20"><path d="M9 3.818c-1.78 0-3.228 1.448-3.228 3.228s1.448 3.226 3.228 3.226c1.779 0 3.227-1.447 3.227-3.227s-1.448-3.227-3.227-3.227zm0 5.454c-1.228 0-2.228-.999-2.228-2.227 0-1.229 1-2.228 2.228-2.228s2.227.999 2.227 2.228c0 1.228-.999 2.227-2.227 2.227zM16 2.031h-2.985l-2.038-1.897c-.093-.086-.214-.134-.341-.134h-3.272c-.127 0-.248.048-.341.134l-2.038 1.897h-2.985c-1.065 0-2 1.005-2 2.15v6.819c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-6.818c0-1.146-.935-2.151-2-2.151zm1 8.969c0 .552-.449 1-1 1h-14c-.551 0-1-.448-1-1v-6.818c0-.592.486-1.15 1-1.15h3.182l.071-.014.111-.023.095-.058.063-.04 2.039-1.897h2.879l2.038 1.897.081.05.073.046.187.038h3.181c.514 0 1 .559 1 1.15v6.819z"/></g></svg>
            Add Photo
          </a>
        </div>
        <div class="new-post_add_video">
          <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 13" enable-background="new 0 0 18 13"><g fill="#231F20"><path d="M10.546 3.6h-7.728c-.276 0-.5.224-.5.5s.224.5.5.5h7.728c.276 0 .5-.224.5-.5s-.224-.5-.5-.5zM17.437 1.677c-.283-.154-.619-.13-.921.064l-3.152 2.04v-2.081c0-.953-.559-1.7-1.272-1.7h-10.82c-.713 0-1.272.747-1.272 1.7v9.6c0 .953.559 1.7 1.272 1.7h10.818c.714 0 1.272-.747 1.272-1.7v-2.081l3.152 2.04c.17.109.351.165.526.165.137 0 .271-.033.395-.101.36-.195.565-.641.565-1.223v-7.2c0-.582-.205-1.028-.563-1.223zm-5.074 9.623c0 .437-.205.694-.272.7h-10.819c-.067-.006-.272-.264-.272-.7v-9.6c0-.436.205-.694.272-.7h10.818c.067.006.272.264.272.7v9.6zm4.637-1.2l-.029.263-3.607-2.334v-3.057l3.608-2.334.028.262v7.2z"/></g></svg>
            Add Video
          </a>
        </div>
      </div>
    </form>
    <div class="post-filter layout">
      <ul class="post-filter_list">
        <li ng-repeat="filter in filters" class="post-filter_list_item" ng-class="{'is-active': isSelected(filter)}">
          <a ng-click="setSelected(filter)" href="#" title="{{filter.title}}">
            <span class="visually-hidden">{{::filter.title}}</span>
            {{::filter.label}}
          </a>
        </li>
      </ul>
      <ul class="post-filter_views">
        <li ng-repeat="view in views" class="post-filter_views-item" ng-class="{'is-active': isSelectedLayout(view)}">
          <a ng-click="setSelectedLayout(view)" href="#" title="{{::view.title}}" ng-bind-html="view.icon">
            <span class="visually-hidden">{{::view.title}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="posts">
  <spinner loading="spinner"></spinner>
  <div ng-if="selectedLayout.type == 'list'" ng-include="'views/posts/post-list.html'" loading></div>
  <div ng-if="selectedLayout.type == 'grid'" class="post-grid deckgrid" deckgrid source="posts" cardTemplate="views/posts/post-grid.html" loading></div>
  <div class="posts_load-more" loading>
    <a ng-click="loadMorePosts()">Load More</a>
  </div>
</div>